@media (min-width: 475px) {
  /* CSS rules for extra small screens */
}

/* sm */
@media (min-width: 640px) {
  /* CSS rules for small screens */
}

/* md */
@media (min-width: 768px) {
  /* CSS rules for medium screens */
}

/* lg */
@media (min-width: 1024px) {
  /* CSS rules for large screens */
}

/* xl */
@media (min-width: 1280px) {
  /* CSS rules for extra large screens */
}

/* 2xl */
@media (min-width: 1536px) {
  /* CSS rules for 2 extra large screens */
}
body {
  background-image: linear-gradient(to bottom, #232432, #191a24);
  background-repeat: no-repeat; /* Prevent background image from repeating /
  background-size: cover; / Ensure the background covers the entire viewport */
  background-attachment: fixed;
  color: white;
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.full-screen {
  height: 50%;
  width: 100vw;
  position: static;
  margin: 0;
}
.container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
.container-movie-page {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 10%;
}
.input-group input[type="text"] {
  background-color: #f2f2f205; /* Change this to the desired background color */
  color: #fefefe; /* Change this to the desired text color */
  border: 1px solid #ccc; /* Change this to the desired border color */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  padding: 10px; /* Optional: Add padding for better appearance */
}

.input-group input[type="text"]::placeholder {
  /* Optional: Customize placeholder text style */
  color: #999; /* Change this to the desired placeholder text color */
}
.search-container {
  /* problem to AHHAHA di ko ma uupper right */
  align-items: center;
}

.rowMargin {
  margin-right: -10w !important;
}

.seat {
  background-color: #d9d9d9;
  width: 2vw;
  height: 2.5vw;
  margin: 0.5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.seatClicked {
  background-color: #fff99e;
  width: 2vw;
  height: 2.5vw;
  margin: 0.5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.seatBooked {
  background-color: #50db00;
  width: 2vw;
  height: 2.5vw;
  margin: 0.5rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.seat:hover {
  background-color: #bdb88e;
}

.seatMini {
  background-color: #d9d9d9;
  width: 1.2vw;
  height: 1.5vw;
  margin: 0rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.seatClickedMini {
  background-color: #fff99e;
  width: 1.2vw;
  height: 1.5vw;
  margin: 0rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.seatBookedMini {
  background-color: #50db00;
  width: 1.2vw;
  height: 1.5vw;
  margin: 0rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.showcase {
  background-color: #45475f;
  padding: 0.7vw 1.5vw;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 300px; /* Set a specific width */
  box-shadow: 0 4px 8px #111322, /* Basic shadow */ 0 6px 20px rgba(0, 0, 0, 0); /* Additional larger shadow for depth */
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  perspective: 1000px;
  width: 300px;
}

.screenContainer {
  perspective: 1000px;
  margin-top: -2vw;
}

.theTitle {
  font-size: 2.5vw;
  font-weight: 100vw; /* Corrected to a valid font weight */
  text-shadow: 2px 4px 6px #2c2e3d; /* Example text shadow */
  margin-top: 20px;
}

.theGap {
  padding-left: 1vw;
  padding-right: 1vw;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 px;
}

.showcase li small {
  margin-left: 8px;
  margin-right: 15px;
  color: white;
}

.seatROW {
  display: flex;
}

.centered {
  text-align: center;
}

/* For Movies */

.movie-card {
  width: 600px;
  height: 275px;
  margin: auto;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.74);
  border-radius: 10px;
  background-color: #161618;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
}
.movie-card:hover {
  transform: scale(1.05); /* Enlarge the item on hover */
}
.movie-list {
  width: 50em;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
}
.movie-card p {
  font-size: 20px;
}
.colU:first-child {
  flex-basis: 15%; /* Set the width of the first column to 25% */
}

.colU:last-child {
  flex-basis: 75%; /* Set the width of the last column to 75% */
}

.movie-row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.date-text {
  font-size: 35px;
  width: 20px;
  height: 40px;
  margin: auto;
  margin-bottom: 25px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center; /* Center the grid items horizontally */
  margin-top: 50px;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center; /* Center the grid items horizontally */
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columns for screens smaller than 1200px */
  }
}

@media (max-width: 900px) {
  .movie-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columns for screens smaller than 900px */
  }
}

@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: 1fr; /* 1 column for screens smaller than 600px */
  }
}
.movieContent {
  display: flex;
  justify-content: center;
}
.movie-item {
  width: 300px; /* Set a fixed width for all movie items */
  height: auto; /* Set a fixed height for all movie items */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.74);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.movie-item:hover {
  transform: scale(1.1); /* Enlarge the item on hover */
}

.movie-content img {
  width: 100%; /* Set the width to 100% */
  height: auto; /* Allow the height to adjust automatically based on the aspect ratio */
  max-height: 350px; /* Set a maximum height for the images */
  object-fit: cover; /* Ensure the image covers the entire container */
}
.movie-content {
  display: flex;
  flex-direction: column;
}
.movie-details {
  flex: 1;
  padding: 10px;
  margin: 1.5%;
  background-color: #191a24;
}

.movie-details p {
  margin: 0;
  padding-bottom: 5px;
}
.movie-title {
  font-weight: bold;
}
.movie-date {
  font-weight: normal;
  color: #b3b3b3;
}
.movie-details form {
  margin-top: auto;
}
.movie-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}
.dp-img {
  width: 190px; /* Set the width to 100% */
  height: 100%; /* Allow the height to adjust automatically based on the aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 10px 0 0 10px;
}
.display-movie-pic {
  width: 100%; /* Set the width to 100% */
  height: auto; /* Allow the height to adjust automatically based on the aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire container */
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-weight: 500;
  background-color: #1cb855;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #1fdf64;
}

.del-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-weight: 500;
  background-color: #ff4d4d; /* Red color */
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.del-button:hover {
  background-color: #ff6666; /* Lighter shade of red on hover */
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 1.5rem; /* Adjust the size as needed */
}

.star-rating .star-rating-top {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}

.star-rating .star-rating-bottom {
  color: gray;
}
.gradient-img {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 50%,
    transparent 100%
  );
}
.margin-top-bottom {
  margin-top: 20px; /* Add margin to the top */
  margin-bottom: 20px; /* Add margin to the bottom */
}
.input-price {
  background: none;
  border: none;
  border-bottom: 1.2px solid white;
  color: white;
}
.gradient-img {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, transparent 96%);
}
/* For navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  /* background-color: #262739; */
  background-color: #161618;
  overflow: hidden;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.button {
  position: relative; /* Needed for the ripple effect */
  margin-right: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  border: none;
  cursor: pointer;
  overflow: hidden; /* Hide the ripple overflow */
  transition: color 0.3s;
}

.button:hover {
  color: #00ea5d;
  text-shadow: 2px 2px 4px rgba(0, 234, 93, 0.5);
}

.error-card {
  width: 500px;
  height: 105px;
  margin: auto;
  align-items: center;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.74);
  border-radius: 10px;
  background-color: #b71c24;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  justify-content: center;
  padding: 18px;
}

.success-card {
  width: 500px;
  height: 105px;
  margin: auto;
  align-items: center;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.74);
  border-radius: 10px;
  background-color: #09ff00;
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  justify-content: center;
  padding: 18px;
  color: black;
}

/* Ripple effect */
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Ripple color */
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s, opacity 1s;
}

.button:hover::before {
  transform: scale(4);
  opacity: 1;
}

/* Specific class for 'My Movies' button */
.button-my-movies {
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .button {
    width: 100%;
    margin: 5px 0;
  }
}

/* Hamburger icon */
.icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .buttons {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .buttons.show {
    display: flex;
    background-color: #272829;
  }

  .icon {
    display: block;
  }

  .navbar.responsive .buttons {
    display: flex;
  }

  .button {
    margin: 10px 0;
  }
}

.input-group {
  margin-bottom: 5px;
}

.logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Home */
.welcome-msg {
  position: absolute;
  padding: 200px;
  left: 0;
}
.welcome-msg h1 {
  font-weight: bold;
  font-size: 120px;
}
.welcome-msg p {
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filters {
  display: flex;
  gap: 10px; /* Space between the filter dropdowns */
  margin-bottom: 10px;
}

.filter-dropdown {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #2e3041;
  color: white;
}
.customContainer {
  margin-top: 0vw;
  margin-left: 29vw;
  margin-right: 29vw;
}

.theatreHalf1 {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  height: 100%; /* Ensure the container takes up full height, if needed */
  margin-top: 6vw;
}
.btn-custom-primary {
  background-color: #00ea5d;
  color: rgb(27, 27, 27);
  margin: 5px;
}
.btn-custom-danger {
  background-color: rgb(230, 87, 87);
  color: rgb(0, 0, 0);
  margin: 5px;
  width: auto;
}
.btn-custom-danger:hover {
  background-color: rgb(237, 37, 37);
  color: white;
}
.btn-custom-primary:hover {
  background-color: #1bf572;
  color: #ffffff;
}
.dmButtons {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gFeatures {
  margin-left: 15%;
  margin-right: 15%;
}

.search {
  min-width: 100%;
  width: auto; /* Set a fixed width for all movie items */
  background: transparent;
  outline: none;
  border: none;
}
.search-box {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}
.icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px; /* Adjust the value as needed */
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px; /* Adjust the value as needed */
}
.search-box {
  position: relative;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
}

.search-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
}

.schedule-text {
  font-size: 75px;
  font-weight: 1000;
}

.days-text {
  font-size: 35px;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.418);
  text-transform: uppercase;
}

.btn-save {
  width: 100px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
}

.btn-update {
  border-radius: 8px;
  padding: 12px;
  padding-bottom: 7px;
  padding-top: 7px;
  margin-left: 3px;
  background-color: rgb(255, 166, 0);
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.btn-update:hover {
  color: rgb(255, 255, 255);
}
